# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

.env
venv
mysite/__pycache__
polls/__pycache__
polls/migrations/__pycache__

db.sqlite3
.vscode
.idea

*.log

.coverage
coverage_html_report