{% extends "../base.html" %}

{% block template %}

{% load static %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'polls/style.css' %}">
{% if latest_question_list %}
<table class="table table-hover">
    <tbody>
    {% for question in latest_question_list %}
    <tr>
        <th>
            <a href="{% url 'polls:detail' question.id %}" class="text">{{ question.question_text }} </a>
        </th>
        <th>
            <a href="{% url 'polls:results' question.id %}" class="text">Result</a>
        </th>
        {% if question.can_vote%}
        <th color="green">
            Available.
        </th>
            {% else %}
        <th color="red">
            Closed.
        </th>
            {% endif%}
    </tr>
    {% endfor %}
</tbody>
</table>
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% endblock %}