{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">
{% if latest_question_list %}
<table class="table table-hover">
    <tbody>
    {% for question in latest_question_list %}
    <tr>
        <th>
            <a href="{% url 'polls:detail' question.id %}" class="text">{{ question.question_text }}</a>
        </th>
        <th>
            <a href="{% url 'polls:results' question.id %}" class="text">Result</a>
        </th>
    </tr>
    {% endfor %}
</tbody>
</table>
{% else %}
    <p>No polls are available.</p>
{% endif %}